{% extends 'base.html' %}

{% load humanize %}

{% load static %}

{% block content %}

<div class="container mt-4">
    <h1 class="mb-4">Listado de insumos</h1>
    <a href="{% url 'insumo_create' %}" class="btn btn-primary mb-3">Crear Lista Insumo</a>

    <div class="table-responsive">
        <table id="example" class="table table-striped table-hover table-bordered" style="width:100%">
            <thead class="table-dark">
            <tr>  
                <th>Solicitante</th>  
                <th>Descripción</th>
                <th>Fecha Solicitud</th>  
                <th>Fecha Recepcion</th>  
                <th>Valor Total</th>
                <th>Transferencia</th>
                <th>Factura</th>
                <th>Acciones</th>  

            </tr>  
        </thead>  
        <tbody>  
            {% for insumo in insumos %}  
                <tr>  
                    <td>{{ insumo.solicitante }}</td>  
                    <td>{{ insumo.descripcion|truncatewords:100 }}</td> <!-- Truncar para mostrar solo 10 palabras --> 
                    <td>{{ insumo.fecha_solicitud }}</td> 
                    <td>{{ insumo.fecha_recepcion }}</td> 
                    <td>{{ insumo.valor_total|intcomma }}</td> 
                    <td>
                        {% if insumo.pago %}
                            <a href="{{ insumo.pago.url }}" target="_blank" class="btn btn-outline-primary btn-sm">Trasferencia</a>
                        {% else %}
                            <span class="text-muted">Sin Transferencia</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if insumo.factura %}
                            <a href="{{ insumo.factura.url }}" target="_blank" class="btn btn-outline-primary btn-sm">Factura</a>
                        {% else %}
                            <span class="text-muted">Sin Factura</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'insumo_detail' insumo.pk %}" class="btn btn-info btn-sm">Ver</a>
    
                        <a href="{% url 'insumo_delete' insumo.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>  
            {% empty %}  
                <tr>  
                    <td colspan="3">No hay insumos registrados.</td>  
                </tr>  
            {% endfor %}  
        </tbody>  
    </table>  
{% endblock %}